.cardOne {
    background-color: blueviolet !important;
    color: white !important;
    position: relative;
}

.bodyContent {
    margin-top: 20px;
    padding: 50px;
}

.quote-img {
    position: absolute;
    top: 1px;
    right: 150px;
    width: 100px;
    opacity: 0.9;
    z-index: 1;
}

.cardOne .card-body {
    position: relative;
    z-index: 5;
}

.profile-img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
}

.cardTwo {
    background-color: grey !important;
}

.cardThree {
    background-color: whitesmoke !important;
}

.cardFour {
    background-color: black !important;
    color: white !important;
}

.cardFive {
    background-color: whitesmoke !important;
}

.card {
    height: 100% !important;
}

@media (max-width:450px) {

    .cardOne {
        position: relative;
        
        overflow: hidden;
    
    }

    .cardOne .card-body {
        position: relative;
        z-index: 5;
    }

    .quote-img {
        position: absolute;
        top: 10px;
        right: 20px;
        width: 100px;
        opacity: 0.35;
        z-index: 1;
    }



}